
#footer {

    background-color: $footer-background;
    min-height: 400px;

    .footer-text {
        color: #9c9c9c;
        font-size: 14px;
        line-height: 1.7em;
        font-weight: bold;
    }

    .footer-tenchi {
        margin-top: 20px;
        height: 120px;
    }

}
