.div-background-overlay {
    background: #222;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.div-pos-overlay {
    position: relative;
    z-index: 3;
}

.box {
    display: table;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.div-full-height {
    height: 100vh;
}

.div-box {
    display: table-cell;
    float: none;
    height: 100%;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    vertical-align: middle;
}

.header__text {
    display: block;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 6px;
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 20px;
    color: #FFF;
}

.body__text {
    color: #FFF;
    font-size: 17px;
    line-height: 27px;
    text-align: left;
    position: relative;
}
