
#local {

    background-color: $local-background;

    .local-text {
        color: #9c9c9c;
        font-size: 14px;
        line-height: 1.7em;
        font-weight: bold;
        margin: 20px 0 0 0;
    }

}

#map {
    height: 250px;
}
