<section id="local">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--no-bg">
                    <div class="mbr-figure__map mbr-figure__map--short mbr-google-map">
                        <p class="mbr-google-map__marker" data-coordinates="{{ site.data.base.location.latitude }},{{ site.data.base.location.longitude }}"></p>
                    </div>
                </figure>
            </div>
            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
                <p class="local-text text-center"><strong>LOCAL</strong><br>
                    Rua Real da Torre, nº 751, Madalena.<br>
                    Recife CEP: 50610-000<br><br>
                    <strong>EMAIL</strong><br>
                    contato@dojodocirculo.com.br<br><br>
                    <strong>TELEFONES</strong><br>
                    <img src="{{ site.baseurl }}/assets/img/whatsapp-logo.svg" height=12> +55 (81) 99691-0710<br>
                    <img src="{{ site.baseurl }}/assets/img/whatsapp-logo.svg" height=12> +55 (81) 98906-4148<br>
                </p>
            </div>
        </div>
    </div>
</section>
