<section id="mestre" class="box parallax-window holderjs" data-parallax="scroll" data-image-src="{{ site.baseurl }}{{ site.data.layout.stobbaerts_background_img }}" data-speed="0.5">
    <div class="div-background-overlay" style="opacity: {{ site.data.layout.stobbaerts_background_opacity }}; background-color: {{ site.data.layout.stobbaerts_background_color }};"></div>
    <div class="container div-pos-overlay">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img class="mbr-figure__img holderjs" src="{{ site.base_url }}{{ site.data.layout.stobbaerts_img }}">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3 class="header__text">HANSHI GEORGES STOBBAERTS</h3>
                <p class="body__text">O mestre Georges Stobbaerts foi um homem fascinado pelo oriente. Estudou e praticou inúmeras artes espirituais e do movimento: Judo, Kendo, Iai-Do, Yoga, Zen, Tenchi-Tessen. Especialmente no Aikido o mestre transcendeu. Foi contemporâneo de grandes mestres como os Senseis Kisshomaru, Abe, Nakakura, Noro, Tohei, entre outros. Em 1995, lhe foi concedido o 8º Dan de Aikido pela Dai Nippon Butoku Kai. O mestre continuar através de seus ensinamentos nas escolas que criou e nos alunos que formou. O "Dojo do Círculo" é uma das escolas que mantém vivo seu legado.&nbsp;</p>
                <a class="btn btn-lg btn-dojo-5" href="#">EM BREVE</a>
            </div>
        </div>
    </div>
</section>


<script>
    jQuery(window).trigger('resize').trigger('scroll');
</script>
