<section class="box parallax-window holderjs" data-parallax="scroll" data-image-src="{{ site.baseurl }}{{ site.data.layout.stobbaerts_background_img }}" data-speed="0.5">
    <div class="div-background-overlay" style="opacity: {{ site.data.layout.stobbaerts_background_opacity }}; background-color: {{ site.data.layout.stobbaerts_background_color }};"></div>
    <div class="container div-pos-overlay">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img class="mbr-figure__img holderjs" src="{{ site.base_url }}{{ site.data.layout.stobbaerts_img }}">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3 class="header__text">HANSHI GEORGES STOBBAERTS</h3>
                <p class="body__text">Etiam euismod, elit non efficitur commodo, est nisl dictum lacus, a congue felis ex ut nibh. Sed cursus accumsan justo, luctus malesuada lectus feugiat vitae. Duis quis malesuada lectus, vitae mollis urna. Maecenas sit amet ipsum ipsum. Etiam varius sapien ac odio eleifend pretium. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.&nbsp;</p>
                <a class="btn btn-lg btn-dojo-5" href="#">LEARN MORE</a>
            </div>
        </div>
    </div>
</section>


<script>
    jQuery(window).trigger('resize').trigger('scroll');
</script>
