<!-- Latest News -->
<section id="news" class="latest-news section">
    <div class="category-head">
        <h1>ÚLTIMAS <span class="colored">NOTÍCIAS</span></h1>
    </div>

    <div class="container">
        <div class="posts-row clearfix">
            <div class="post-container">
                <div class="post">
                    <img src="holder.js/354x232?theme=sky&amp;text=noticia 1.&amp;nowrap=true" alt="Post img" class="img-responsive">
                    <h3>When music matters</h3>
                    <div class="meta">
                        <a href="#"><i class="fa fa-user"></i> FutureThemes</a>
                        <a href="#"><i class="fa fa-calendar"></i> Oct 12</a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="blog-single.html" class="read-more">Read More</a>
                </div>
            </div>

            <div class="post-container">
                <div class="post">
                    <img src="holder.js/354x232?theme=sky&amp;text=noticia 2.&amp;nowrap=true" alt="Post img" class="img-responsive">
                    <h3>The power of music</h3>
                    <div class="meta">
                        <a href="#"><i class="fa fa-user"></i> FutureThemes</a>
                        <a href="#"><i class="fa fa-calendar"></i> Oct 12</a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="blog-single.html" class="read-more">Read More</a>
                </div>
            </div>

            <div class="post-container">
                <div class="post">
                    <img src="holder.js/354x232?theme=sky&amp;text=noticia 3.&amp;nowrap=true" alt="Post img" class="img-responsive">
                    <h3>The journey of an Artist</h3>
                    <div class="meta">
                        <a href="#"><i class="fa fa-user"></i> FutureThemes</a>
                        <a href="#"><i class="fa fa-calendar"></i> Oct 12</a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="blog-single.html" class="read-more">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
