<section id="social">
    <div class="container">
        <div class="row page-line">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <h3 class="social-text">SIGA-NOS NAS REDES SOCIAIS!</h3>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="text-center">
                    {% for soc in site.data.social %}
                    <a href="{{ soc.url }}" class="social-icon" title="{{ soc.desc }}" target="blank_"><i class="fa fa-{{ soc.icon }}"></i></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
