
$body-bg: #333 !default;

$dojo-color-1: #070707 !default;
$dojo-color-6: #2E2E2E !default;
$dojo-color-2: #656565 !default;
$dojo-color-3: #FC4F0F !default;
$dojo-color-4: #F83710 !default;
$dojo-color-5: #A7A175 !default;
$dojo-color-7: rgba(256,256,256, 0.9) !default;
$dojo-color-8: rgb(0,0,109) !default;
$dojo-color-9: rgb(250,182,49) !default;

$social-background: $dojo-color-7;
$instrutores-background: $dojo-color-1;
$local-background: $dojo-color-1;
$footer-background: $dojo-color-1;
$horarios-eventos-background: #FFF;

$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;
