<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        {% include meta.html %}
        {% include styles.html %}
        {% include scripts_head.html %}
    </head>
    <body>
    {% include dojodocirculo/menu.html %}
    {% include dojodocirculo/header.html %}
    {% include dojodocirculo/noticias.html %}
    {% include dojodocirculo/mestre.html %}
    {% include dojodocirculo/instrutores.html %}
    {% include dojodocirculo/horarios.html %}
    {% include dojodocirculo/social.html %}
    {% include dojodocirculo/local.html %}
    {% include dojodocirculo/footer.html %}
    {% include scripts.html %}
    {% if site.data.ga_id %}{% include tracking.html ga_id=page.ga_id %}{% endif %}
    </body>
</html>
